{% extends 'frontend/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block body %}
    <div class="row ">
        {% include 'frontend/sidebar.html' %}
        <div class="wid-100 background-light pl-1 pr-1  ">
        {% include 'frontend/header.html' %}
        <main class="row justify-between">
            <div class="row wid-100 dir-col row-gap-2 ">
                <div class="player row align-center justify-between dir-col-onxs row-gap-3">
                    <div class="playermainactions row align-center col-gap-1">
                        <div class="prev">
                            <img src="{% static 'frontend/assets/prevPlay.svg' %}" alt="">

                        </div>
                        <div class="play">
                            <img id="playbtn" src="{% static 'frontend/assets/play.svg' %}" alt="">
                        </div>
                        <div class="next">
                            <img src="{% static 'frontend/assets/nextPlay.svg' %}" alt="">
                        </div>

                    </div>
                    <div class="player_progress wid-100 ml-2 mr-2">
                        <span class="artist_name" id="stationName"></span>
                        <span class="player_progressbar"></span>
                        <span class="radio_title" id="currentPlaying"></span>
                        <audio id="audio" style="display: none;"></audio>
                        <input type="hidden"  id="stationID">

                    </div>
                    <div class="playerextraactions row align-center col-gap-1">

                        <div class="addtofavIcon">
                            <img src="{% static 'frontend/assets/music.svg' %}" alt="">
                            <img class="plusicon" src="{% static 'frontend/assets/plus.svg' %}" alt="">
                        </div>
                        <div class="repeat-player">
                            <img class="repeat-player1" src="{% static 'frontend/assets/autoplay1.svg' %}" alt="">
                            <span>
                                1
                            </span>
                            <img class="repeat-player2" src="{% static 'frontend/assets/autoplay2.svg' %}" alt="">

                        </div>
                        <div class="row align-center">
                            <img src="{% static 'frontend/assets/deck.svg' %}" alt="">
                            <img src="{% static 'frontend/assets/volume.svg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="background-white p-1  b-rad-18">
                    <div class="row justify-between">
                        <h2 class="color-pink text-uppercase mb-1">{{ main }}</h2>
                        <span>Slijedeći ></span>
                    </div>
                    <div id="radio-list" class="radio_cards row wrap">
                        
                    </div>
                </div>
               
         

            </div>
      
        </main>   
        </div>

    </div>

    <script>
                rad = '{{ main }}'
        fetch(`/api/getByCategory/${rad}`)
        .then(response => response.json())
        .then(data => {
            feed = data['feed']
            radios = document.querySelector("#radio-list")
            radios1 = document.querySelector("#radio-list1")
            radios2 = document.querySelector("#radio-list2")
            for (var i = 0; i < feed.length; i ++) {
                radios.innerHTML += `<a href="/radio/${feed[i]['id']}" class="radio_card col-2 col-4-tablet col-6-xs">
                            <div class="radio_card_img img_container background-gray">
                                <img src=${feed[i]['img']}>
                            </div>
                            <div class="radio_card_detail mt-halfrem text-center">
                                <span class="lead "><strong>${feed[i]['radio_name']} </strong></span>
                            </div>
                                </a>`
     
              
            }
        })

        fetch(`/api/getByCategory/${rad}`)
        

        var audio = document.getElementById('audio');
        var playbtn = document.getElementById("playbtn");
         fetch('/api/getRandomRadio')
        .then(response => response.json())
        .then(data => {
            audio.src =`${data['link']};`
            document.querySelector("#stationID").value = data['radio_id']
            document.querySelector("#stationName").innerHTML = data['radio_name']
        })
        
        
        playbtn.addEventListener('click', () => {
        if (audio.paused || audio.ended) {
            
            audio.play()
            playbtn.src = "/static/frontend/assets/pause.svg";
            }
        else {
            
            playbtn.src = "/static/frontend/assets/play.svg";
            audio.pause();
            }
        })
        function getCurrentName() {
            fetch(`/api/currentPlaying/${document.querySelector("#stationID").value}`)
            .then(response => response.json())
            .then(data => {
            document.querySelector("#currentPlaying").innerHTML = data['playing']
            
            })
        
        }
         
        setInterval(function(){
            getCurrentName()
        }, 10000);
    </script>
{% endblock %}