{% extends 'frontend/base.html' %}
{% load static %}


{% block title %} {{ radio.radio_name }}{% endblock %}

{% block body %}
<div class="row ">

  <div class="wid-100 background-light pl-1 pr-1  ">
    <div class="row">
    <div class="col-4 col-6-mob background-gray b-rad-18 radio_img mlr-auto" >
        {% if radio.radio_img %}
        <img id="imgRadio" style="width: 348px;" src="{{ radio.radio_img.url }}" alt="{{ radio.radio_name }}">
        {% endif %}
    </div>
</div>
  <main class="row" style="justify-content: center;">
    <div class="player row align-center dir-col-onxs row-gap-3">
        
        <div class="playermainactions row align-center col-gap-1">
            <div class="prev">
                <img src="{% static 'frontend/assets/prevPlay.svg' %}" alt="">

            </div>
            <div class="play">
                <img id="playbtn" class="playButtons" src="{% static 'frontend/assets/play.svg' %}" alt="">
                <audio id="audio" src="{{ radio.play_link }}" style="display: none;"></audio>
           
            </div>
            <div class="next">
                <img src="{% static 'frontend/assets/nextPlay.svg' %}" alt="">
            </div>

        </div>
        <div class="player_progress wid-100 ml-2 mr-2">
            <span class="radio_title">{{ radio.radio_name }}</span>
            <span class="player_progressbar"></span>
            <span class="artist_name" id="currentPlaying"></span>
            <audio id="audio" src="{{ radio.play_link }}" style="display: none;"></audio>
        </div>
        <div class="playerextraactions row align-center col-gap-1">

            <div class="addtofavIcon">
                <img src="./assets/music.svg" alt="">
                <img class="plusicon" src="./assets/plus.svg" alt="">
            </div>
            <div class="repeat-player">
                <img class="repeat-player1" src="./assets/autoplay1.svg" alt="">
                <span>
                    1
                </span>
                <img class="repeat-player2" src="./assets/autoplay2.svg" alt="">

            </div>
            <div class="row align-center">
                <img src="{% static 'frontend/assets/deck.svg' %}" alt="">
                <img src="{% static 'fro/assets/volume.svg' %}" alt="">
            </div>
        </div>
    </div>
  </main>
  </div>
</div>
<script>
     var audio = document.getElementById('audio');
  var playbtn = document.getElementById("playbtn");

  var playbtns = document.querySelectorAll(".playButtons");
  playbtn.addEventListener('click', () => {
    if (audio.paused || audio.ended) {
      for (var i = 0; i < playbtns.length; i ++){
        playbtns[i].src = "/static/frontend/assets/pause.svg";
      }
      
      audio.play()
    }
    else {
        for (var i = 0; i < playbtns.length; i ++){
            playbtns[i].src = "/static/frontend/assets/play.svg";
        }
        audio.pause()

    }
  })
  
  radio_id = '{{ radio.id }}'
      function getCurrentName() {
        fetch(`/api/currentPlaying/${radio_id}`)
        .then(response => response.json())
        .then(data => {
          document.querySelector("#currentPlaying").innerHTML = data['playing']
            if ( data['img'] != "" || data['img'] != null) {
                document.querySelector("#imgRadio").src = data['img']
            }
            console.log(data)
         
        })
      
      }
      getCurrentName()
      setInterval(function(){
        getCurrentName()
      }, 10000);
</script>

{% endblock %}