{% extends 'frontend/base.html' %}
{% load static %}


{% block title %} {{ radio.radio_name }}{% endblock %}

{% block body %}
<div class="row ">
  {% include 'frontend/sidebar.html' %}
  <div class="wid-100 background-light pl-1 pr-1  ">
  {% include 'frontend/header.html' %}
  <main class="row justify-between">
    <div class="row wid-100 dir-col row-gap-2 ">
        <div class="player row align-center justify-between dir-col-onxs row-gap-3">
            <div class="playermainactions row align-center col-gap-1">
                <div class="prev">
                    <img src="{% static 'frontend/assets/prevPlay.svg' %}" alt="">

                </div>
                <div class="play">
                    <img id="playbtn" class="playButtons" src="{% static 'frontend/assets/play.svg' %}" alt="">
                    <a id="anchorbtn" href="{% url 'radioPlayerPage' radio.id %}" style="display: none;"></a>
                </div>
                <div class="next">
                    <img src="{% static 'frontend/assets/nextPlay.svg' %}" alt="">
                </div>

            </div>
            <div class="player_progress wid-100 ml-2 mr-2">
              <span class="radio_title">{{ radio.radio_name }}</span>
              <span class="player_progressbar"></span>
              <span class="artist_name" id="currentPlaying"></span>
                <audio id="audio" src="{{ radio.play_link }}" style="display: none;"></audio>
            </div>
            <div class="playerextraactions row align-center col-gap-1">

                <div class="addtofavIcon">
                    <img src="./assets/music.svg" alt="">
                    <img class="plusicon" src="./assets/plus.svg" alt="">
                </div>
                <div class="repeat-player">
                    <img class="repeat-player1" src="./assets/autoplay1.svg" alt="">
                    <span>
                        1
                    </span>
                    <img class="repeat-player2" src="./assets/autoplay2.svg" alt="">

                </div>
                <div class="row align-center">
                    <img src="{% static 'frontend/assets/deck.svg' %}" alt="">
                    <img src="{% static 'fro/assets/volume.svg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="background-white p-1  b-rad-18">
          <div class="row justify-between wrap ">
              <div class="col-4 col-6-mob background-gray b-rad-18 radio_img mlr-auto" >
                {% if radio.radio_img %}
                  <img style="width: 348px;" src="{{ radio.radio_img.url }}" alt="{{ radio.radio_name }}">
                {% endif %}
              </div>
              <div class="col-8 col-12-mob mt-2 mb-2">
                  
                  <h2 class="mb-1 radio-name row align-center col-gap-halfrem"><span><img id="playbtn1" class="playButtons" src="{% static 'frontend/assets/play.svg' %}" alt="Play/Pause"></span> {{ radio.radio_name }}</h2>
                  <a id="anchorbtn1" href="{% url 'radioPlayerPage' radio.id %}" style="display: none;"></a>
                <div class="row align-center col-gap-halfrem">
                    <img src="{% static 'frontend/assets/heart.svg' %}" alt="">
                    <span class="lead cursor-pointer"><strong>Add to Favourites</strong></span>
                </div>
                </div>
          </div>
        </div>
        <div id="news-feed">
    
    
        </div>
      

    </div>
    <div class="col-3  background-white mt-2 ml-2 p-1 play-history">
        <span onclick="closePlayHistory()" class="times showontablet"><strong>X</strong></span>
        <h2>Play history</h2>
        <div id="recentPlayingList" class="row dir-col row-gap-1 mt-2">
      
            
          
            
        </div>
    </div>
</main>

  </div>
</div>


<script type="text/javascript">

  var audio = document.getElementById('audio');
  var playbtn = document.getElementById("playbtn");
  var playbtn1 = document.getElementById("playbtn1");
  var playbtns = document.querySelectorAll(".playButtons");
  playbtn.addEventListener('click', () => {
    if (audio.paused || audio.ended) {
      for (var i = 0; i < playbtns.length; i ++){
        playbtns[i].src = "/static/frontend/assets/pause.svg";
      }
      
       window.open(document.querySelector("#anchorbtn").href,'newwindow','width=580,height=600');
       
      }
    else {
      for (var i = 0; i < playbtns.length; i ++){
        playbtns[i].src = "/static/frontend/assets/play.svg";
      }
      
    }
  })
  playbtn1.addEventListener('click', () => {
    if (audio.paused || audio.ended) {
      for (var i = 0; i < playbtns.length; i ++){
        playbtns[i].src = "/static/frontend/assets/pause.svg";
      }
         window.open(document.querySelector("#anchorbtn").href,'newwindow','width=530,height=600');
    }
    else {
      for (var i = 0; i < playbtns.length; i ++){
        playbtns[i].src = "/static/frontend/assets/play.svg";
      }
  
    }
  })
  
      radio_id = '{{ radio.id }}'
      rss_name = '{{ radio.radio_name }}'
      rss_feed = '{{ radio.rss_feed }}'
      if (rss_feed != "" || rss_feed != null) {
        fetch(`/api/renderNews/${rss_name}`)
        .then(response => response.json())
        .then(data => {
          feed = data['feed']
          news = document.querySelector("#news-feed")
          for (var i = 0; i < feed.length; i++) {
            news.innerHTML += `
            <div class="background-white p-1  b-rad-18 row justify-between">
      
            <div class="col-10 col-8-mob">
                    <a href="${feed[i]['link']}" rel="nofollow" target="blank"><h4 class="mb-1 mt-1">${feed[i]['title']}</h4></a>
                    <a href="${feed[i]['link']}" rel="nofollow" target="blank"><p class="mb-1">${feed[i]['description']}</p></a>
            </div>
          </div>
            `
          }
          console.log(data)
        })
    }

      function getCurrentName() {
        fetch(`/api/currentPlaying/${radio_id}`)
        .then(response => response.json())
        .then(data => {
          document.querySelector("#currentPlaying").innerHTML = data['playing']
         
        })
      
      }
  
      function getRecentPlaying() {
        fetch(`/api/recentPlaying/${radio_id}`)
        .then(response => response.json())
        .then(data => {
          recList = document.querySelector("#recentPlayingList")
          for (var i = 0; i < data['history'].length; i ++ ) {
            if (data['history'][i]['img_link'] != "" && data['history'][i]['img_link'] != null) {
              im = `<img src='${data['history'][i]['img_link']}'>`
            }
            else {
              im = ""
            }
            recList.innerHTML += `
            <a href="#" class="row col-gap-1  align-center">
                    <span class="color-gray side_bar_number col-2"> ${i}</span>
                    <div class="side_bar_logo_img img_container background-gray">
                      ${im}
                    </div>
                    <div >
                        <span class="lead"><strong>${data['history'][i]['name']}</strong></span><br><br>
                    </div>
                    <div class=" side_bar_dots ml-auto  row ">
                            <span class="side_bar_dot background-gray"></span>
                            <span class="side_bar_dot background-gray"></span>
                    </div>
                    
            </a>
            
            `
          }
        })
      }
      getRecentPlaying()
      getCurrentName()
      setInterval(function(){
        getCurrentName()
      }, 10000);
      </script>
{% endblock %}